<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/dist/output.css">
</head>
<body>
  <!-- Green navbar -->
  <nav class="bg-green-500 py-4">
    <div class="container mx-auto flex justify-between items-center">
      <!-- Logo -->
      <img src="../static/images/logo.png" alt="Logo" class="h-8">
      <ul class="flex justify-center space-x-10"> <!-- Updated -->
        <li class="pt-4"><a href="#" class="text-white">Groups</a></li>
        <li class="pt-4"><a href="#" class="text-white">Classes</a></li>
        <li class="pt-4"><a href="#" class="text-white">Tests</a></li>
        <li class="pt-4"><a href="#" class="text-white">Assignments</a></li>
        <li class="pt-4"><a href="#" class="text-white">Hello, Student</a></li>
      </ul>
    </div>
  </nav>

  <!-- Centered heading -->
  <div class="text-center mt-10">
    <h1 class="text-3xl font-bold underline text-green-600">CLASSify</h1>
  </div>
</body>
</html>
